# ignore old data, and temp data
dump/
history/*
temp/*
xml/

# retain the folders themselves
!temp/.placeholder
!history/.placeholder

# ignore pycache and compiled files
__pycache__/
*.pyc

# ignore currently-unsupported features
homes.txt
targets.txt
